<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
  <configuration-properties file="config-local.yaml"/>
  <http:listener-config name="HTTP_Listener">
    <http:listener-connection host="${http.host}" port="${http.port}"/>
  </http:listener-config>
  <http:request-config name="Dependency_HTTP" responseTimeout="2000">
    <http:request-connection host="${dependency.host}" port="${dependency.port}"/>
  </http:request-config>
  <flow name="hello-mule">
    <http:listener config-ref="HTTP_Listener" path="/hello" allowedMethods="GET"/>
    <set-payload value="Hello, Mule!"/>
  </flow>
  <flow name="enrich-order">
    <http:listener config-ref="HTTP_Listener" path="/enriched" allowedMethods="POST"/>
    <http:request config-ref="Dependency_HTTP" method="GET" path="/customers/C-42" target="customer"/>
    <ee:transform>
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
    output application/json
    ---
    {orderId: payload.orderId, customer: vars.customer.name, status: vars.customer.status}
    ]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
  <flow name="optional-shipping">
    <http:listener config-ref="HTTP_Listener" path="/shipping" allowedMethods="POST"/>
    <try>
      <http:request config-ref="Dependency_HTTP" method="GET" path="/shipping/unavailable" target="shipping"/>
      <error-handler><on-error-continue type="HTTP:SERVICE_UNAVAILABLE">
        <set-variable variableName="shipping" value="#[{available: false}]"/>
      </on-error-continue></error-handler>
    </try>
    <ee:transform>
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
    output application/json
    ---
    {orderId: payload.orderId, shipping: vars.shipping}
    ]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
</mule>
