<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
      http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
  <configuration-properties file="config-local.yaml"/>
  <http:listener-config name="HTTP_Listener">
    <http:listener-connection host="${http.host}" port="${http.port}"/>
  </http:listener-config>
  <http:request-config name="Dependency_HTTP" responseTimeout="2000">
    <http:request-connection host="${dependency.host}" port="${dependency.port}"/>
  </http:request-config>
  <flow name="hello-mule">
    <http:listener config-ref="HTTP_Listener" path="/hello" allowedMethods="GET"/>
    <set-payload value="Hello, Mule!"/>
  </flow>
  <apikit:config name="Orders_API" api="api/orders.raml" httpStatusVarName="httpStatus" outboundHeadersMapName="outboundHeaders">
    <apikit:flow-mappings>
      <apikit:flow-mapping resource="/orders" action="post" content-type="application/json" flow-ref="create-order"/>
      <apikit:flow-mapping resource="/orders/{orderId}" action="get" flow-ref="get-order"/>
    </apikit:flow-mappings>
  </apikit:config>
  <error-handler name="API_Errors">
    <on-error-propagate type="APIKIT:BAD_REQUEST">
      <set-variable variableName="httpStatus" value="#[400]"/>
      <ee:transform>
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
      output application/json
      ---
      {error: "INVALID_REQUEST"}
      ]]></ee:set-payload>
        </ee:message>
      </ee:transform>
    </on-error-propagate>
    <on-error-propagate type="APIKIT:NOT_FOUND,APP:NOT_FOUND">
      <set-variable variableName="httpStatus" value="#[404]"/>
      <ee:transform>
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
      output application/json
      ---
      {error: "NOT_FOUND"}
      ]]></ee:set-payload>
        </ee:message>
      </ee:transform>
    </on-error-propagate>
    <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
      <set-variable variableName="httpStatus" value="#[405]"/>
      <ee:transform>
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
      output application/json
      ---
      {error: "METHOD_NOT_ALLOWED"}
      ]]></ee:set-payload>
        </ee:message>
      </ee:transform>
    </on-error-propagate>
    <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
      <set-variable variableName="httpStatus" value="#[415]"/>
      <ee:transform>
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
      output application/json
      ---
      {error: "UNSUPPORTED_MEDIA_TYPE"}
      ]]></ee:set-payload>
        </ee:message>
      </ee:transform>
    </on-error-propagate>

    <on-error-propagate type="HTTP:CONNECTIVITY,HTTP:TIMEOUT,HTTP:SERVICE_UNAVAILABLE">
      <set-variable variableName="httpStatus" value="#[503]"/>
      <ee:transform>
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
      output application/json
      ---
      {error: "DEPENDENCY_UNAVAILABLE"}
      ]]></ee:set-payload>
        </ee:message>
      </ee:transform>
    </on-error-propagate>
    <on-error-propagate type="ANY">
      <set-variable variableName="httpStatus" value="#[500]"/>
      <ee:transform>
        <ee:message>
          <ee:set-payload><![CDATA[%dw 2.0
      output application/json
      ---
      {error: "INTERNAL_ERROR"}
      ]]></ee:set-payload>
        </ee:message>
      </ee:transform>
    </on-error-propagate>
  </error-handler>
  <flow name="orders-api">
    <http:listener config-ref="HTTP_Listener" path="/api/*" allowedMethods="GET,POST">
      <http:response statusCode="#[vars.httpStatus default 200]"/>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="Orders_API"/>
    <error-handler ref="API_Errors"/>
  </flow>
  <flow name="create-order">
    <set-variable variableName="httpStatus" value="#[201]"/>
    <ee:transform>
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
    output application/json
    ---
    {orderId: payload.orderId, state: "PREVIEW"}
    ]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
  <flow name="get-order">
    <raise-error type="APP:NOT_FOUND" description="No persistence in this checkpoint"/>
  </flow>
</mule>
